{% extends 'base.html' %}

{% block title %}選手の記録削除{% endblock title %}

{% block content %}
<div class="max-w-[85rem] px-4 py-10 sm:px-6 lg:px-8 lg:py-14 mx-auto">
    <div class="max-w-xl mx-auto">
      <div class="text-center">
        <h1 class="text-3xl font-bold text-gray-800 sm:text-4xl dark:text-white">
          選手の記録削除
        </h1>
        <p class="mt-1 text-gray-600 dark:text-gray-400">
            以下の選手の持ち記録を削除します。
        </p>
      </div>
  
      <div class="mt-12">
        <!-- Form -->
        <form method="POST">
          {% csrf_token %}
          <div class="grid gap-4 lg:gap-6">
            <!-- Grid -->
            <div class="grid grid-cols-1 sm:grid-cols-2 gap-4 lg:gap-6">
              <div>
                <label class="block text-sm text-gray-700 font-medium dark:text-white">名前</label>
                    {{ athlete_records.athlete_id.name }}
              </div>
  
              <div>
                <label class="block text-sm text-gray-700 font-medium dark:text-white">自己ベスト</label>
                {{ athlete_records.university_best }}
              </div>
            </div>
            <!-- End Grid -->
            <!-- Grid -->
            <div class="grid grid-cols-1 sm:grid-cols-2 gap-4 lg:gap-6">
              <div>
                <label class="block text-sm text-gray-700 font-medium dark:text-white">大学ベスト</label>
                {{ athlete_records.university_best }}
              </div>
  
              <div>
                <label class="block text-sm text-gray-700 font-medium dark:text-white">有効記録</label>
                {{ athlete_records.valid_record }}
              </div>
            </div>
            <!-- End Grid -->
  
          <div class="mt-6 grid">
            <button type="submit" class="inline-flex justify-center items-center gap-x-3 text-center bg-blue-600 hover:bg-blue-700 border border-transparent text-sm lg:text-base text-white font-medium rounded-md focus:outline-none focus:ring-2 focus:ring-blue-600 focus:ring-offset-2 focus:ring-offset-white transition py-3 px-4 dark:focus:ring-offset-gray-800">削除</button>
          </div>
        </form>
        <!-- End Form -->
      </div>
    </div>
  </div>
{% endblock content %}